<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    {{{sans}}}
  </head>
  <body>
    <h2>{{page}}</h2>
    <h1>{{title}}</h1>
    <img src="/Screenshot 2025-01-21 184013.png" alt="logo" />
    <a href="/about">about</a>
    <a href="/help">help</a>
    <a href="/login">Login</a>
    <form action="/register" method="POST" novalidate="true" id="containerR">
      <input
        type="email"
        placeholder="name@example.com"
        id="emailR"
        name="email"
      />
      {{{errMsgE}}}
      <input type="password" placeholder="password" id="pass" name="password" />
      {{{errMsgP}}}
      <button type="submit" id="sbm">Submit</button>
    </form>
  </body>
</html>